<footer th:fragment="footer" class="bg-dark text-light pt-5 pb-3">

    <div class="container">
        <div class="row">

            <!-- Logo -->
            <div class="col-md-3">
                <h4>E Learning</h4>
                <p class="text">
                    E-Learning is a Modern Approach to Education that uses Digital Technologies to Deliver Knowledge Anytime and Anywhere. 
                    It Provides Flexible, Accessible, and Personalized Learning Experiences through Online Courses, Videos, and Interactive Content.
                </p>
            </div>

            <!-- Links -->
            <div class="col-md-3">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="/" class="text-decoration-none text-light">Home</a></li>
                    <li><a href="#course-details"  class="text-decoration-none text-light">Courses</a></li>
                    <li><a href="/about" class="text-decoration-none text-light">About</a></li>
                </ul>
            </div>

            <!-- Categories -->
            <div class="col-md-3">
                <h5>Categories</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-decoration-none text-light">Development</a></li>
                    <li><a href="#" class="text-decoration-none text-light">Design</a></li>
                </ul>
            </div>

            <!-- Newsletter -->
            <div class="col-md-3">
                <h5>Subscribe</h5>
                <form>
                    <div class="input-group">
                        <input type="email" class="form-control" placeholder="Email">
                        <button class="btn btn-primary">Join</button>
                    </div>
                </form>
            </div>

        </div>

        <hr class="bg-light">

        <div class="text-center">
            <p>© 2026 E-Learning Platform | All Rights Reserved</p>
        </div>
    </div>
</footer>