<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark shadow">

    <div class="container">

        <!-- Logo -->
        <a class="navbar-brand fw-bold" href="/">E-Learning</a>

        <!-- Toggle -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Menu -->
        <div class="collapse navbar-collapse" id="navbarNav">

            <ul class="navbar-nav me-auto">

                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>

                

                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>

            </ul>

            <!-- Right Side -->
            <ul class="navbar-nav">

                <!-- Login -->
               <button onclick="history.back()" class="btn btn-outline-light me-3">
    ⬅ Back
</button>

                <!-- Register -->
                <li class="nav-item">
                    <a class="nav-link btn btn-primary text-white ms-2 px-3" href="/register">
                        Register
                    </a>
                </li>

            </ul>

        </div>

    </div>

</nav>